@import './variables.scss';

.container {
  height: 100px;
  width: 100%;
  background-color: $text;
  
  background-image: url('../media/landmark.jpeg');

  display: flex;
  align-items: center;
  
  justify-content: center;

  .link {
    margin: 0 100px;
    margin-bottom: 35px;
    text-decoration: none;
    color: $text;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 500;
  }
}