

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding-left: 100px;
    display: inline-block;
    font-family:  sans-serif;
    text-decoration-color: aliceblue;
    width: 150px;
    padding: 10px;
    border: 1px dashed rgb(67, 62, 124);
    text-align: center;
    background-color: rgb(209, 204, 216);
    cursor: pointer;
}

.custom-file-upload:hover {
  transform: scale(1.05);
  box-shadow: 2px 3px 4px 3px rgba(23, 10, 78, 0.5);
  background: rgba(213, 181, 235, 0.795);
  color: rgba(16, 4, 68, 0.5) ;
}
.style-buttons {
  display: flex;
  align-items: center;
  
  justify-content: space-evenly;
  flex-direction: row;
}

.img-style {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  border-color: white;
  background-color: white;
  
}
/* 
img:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 4px 3px rgba(23, 10, 78, 0.5);
  background: white;
} */


.styling {
  align-items: center;
}

h2 {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  color:rgba(37, 10, 82, 0.808);
  font-size: 25px;
  font-weight: 500;
  
}

h1 { 
  size: 0px;
  display: none;
 
}